# Maven build directory
target/

# IDE files
.idea/
.vscode/

# gitignore
.gitignore

# Compiled Java classes
*.class

# Maven project files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Eclipse specific files
.classpath
.project
.settings/

# IntelliJ specific files
*.iml
*.ipr
*.iws
out/
